<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <script src="public/scripts/main.js" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <p>logo</p>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    
    <div class="container">
        <aside>
            <p>Tool 1</p>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <ul>
                <?php foreach($cards as $key=>$value): ?>
                    <li>
                        <?php echo $value['title']; ?>
                        <img src="<?= $value['imageUrlPath']; ?>">
                    </li>
                <?php endforeach; ?>
            </ul>
        </main>
    </div>
</body>
</html>