<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="\login">
    <h1>Login</h1>

    <?php if (isset($messages)): ?>
        <p class="messages">
            <?= $messages ?>
        </p>    

    <?php endif; ?>
    <input name="username" type="text" placeholder="Username" >
    <input name="password" type="password" placeholder="Password" >
    <button type="submit">Login</button>

    <a href="/register">Register here</a>
    </form>
</body>
</html>